.button {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: rgb(229, 9, 20);
  color: #fff;
  transition: background-color 0.3s;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(193, 17, 25);
  }
}
