.page {
  background-color: #000;
  color: #fff;
}

.movieListSection {
  display: grid;
  grid-row-gap: 16px;
  padding: 24px;
}

.spinner {
  margin: 80px auto;
}

.error {
  color: #e50914;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
}
