* {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
}

body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

// scrollbar

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -webkit-box-shadow:
    inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
